<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DIS</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="/css/gradient-navbar.css">
    <link rel="stylesheet" href="/css/Login-Form-blue-Gradient-1.css">
    <link rel="stylesheet" href="/css/Login-Form-blue-Gradient.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Datatable -->
    <link rel="stylesheet" href="/js/DataTables/datatables.css">
    <link rel="stylesheet" href="/js/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/js/DataTables/Buttons-2.0.1/css/buttons.dataTables.css">
</head>

<body>